<div class="container" style=" background-color:lavenderblush; width: auto">
    <div class="col-sm-6">
    <div class="container">
        <div style="text-align: left; margin-top: 60px;">
         <div >
           <!-- <img  src="http://wallpaper-gallery.net/images/girl-pic/girl-pic-5.jpg" style="width:500px;height:300px;" > -->
           <img src="https://lh3.googleusercontent.com/ZC8dlaGXUVRM8BkYlRaAUDqEXsFNbD65vgkD4aHLxW8Lg2gAB2qMFyd-EaQi0ghX9KMzSQ=s114" style="width:300px;height:150px;">
              </div> 
        <div class="myName" style="font-size:50px; color:rgb(98, 30, 124)">Sravya Kancharla</div>
      <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Working on Pilots</h3>
      <h2 style="color:indianred">Current :</h2>
      <p style="font-size-adjust: initial"> I am currently pursuing my graduation in <Strong>MSACS</Strong> at Northwest Missouri 
        <br>State University.</p>
            <p style="font:message-box">I came here for my graduation in Spring 2018.</p>
          </div>
        </div>
      </div> 
      <br><br>

          <div class="col-sm-6">
      <p>  <span><a href="https://bitbucket.org/SravyaKancharla/" class="btn btn-primary btn-lg" role="button">BitBucket &raquo;</a></span>
      </p>
    </div>

  
  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
       
          <!-- referred w3schools.com to learn how to post a video on webpage -->
          <h2>Northwest - Welcome Students</h2>
      
          <h2>Bearcats - Campus Tour</h2>
          <iframe src="https://www.youtube.com/embed/2OcbJkQY-SA"></iframe>       
    </div>
        </div>
             
        </div>

       
         

