<li class="dropdown">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Statistics
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/stats/FlightStats">Flight Duration</a>
        </li>
        <li>
            <a href=""> Fuel Capacity</a>
        </li>
        <li>
            <a href="/stats/pilotstats">Hours Flown</a>
        </li>
       
            </ul>
</li>