<br/>
<br/>
<br/>
<h1>Rakesh varma Nadakudhiti</h1>
<h2>Working on flights</h2>
<body class ="rr" style="background-position: center;background-repeat:no-repeat;background-size: cover" 
 background="https://www.hdwallpapers.in/walls/flight_takeoff-wide.jpg">
<div class="container">
    <div class="row">
      <div class="col-md-2"> 
    <img src="https://lh3.googleusercontent.com/DRWFdSDo32n5lhq0TSb7OVfC7bzg6FFGMemwDRwvLnRmm1ryXFCfoWUIR7qo681OxqGiP8g=s85"
     class="img-circle" alt="Cinque Terre" width="304" height="236"> 
</div>
  </div>
      <div class="row">
        <div class="col-md-1">
        </div></div>
</div>
<body class="ee">
<article>
<section>
<h1>Current</h1>
<p>I am pursuing my masters in Applied Computer Science and this is my first semester.</p>
</section>
<h1>Background</h1>
<p>I am from Hyderabad, India. I pursued my UG from MGIT, Hyderabad.</p>
</section>
<section>
<h1>Plans</h1>
<p>I want to become a data analyst by the end of our course.</p>
</section>
<aside>
<h1>Hobbies</h1>
<p>My hobbies are playing Badminton and watching TV series</p>
<div>
</div>
</aside>
<footer>Rakesh Varma Nadakudhiti</footer>
</div>
</body>