<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>About me the Blake Picklo story</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="bootstrap.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <style>
            body {
                    background-image: url("http://www.rff.org/files/terms/backgrounds/Water.jpg ");
            } 
             
            </style>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.ejs">Home
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <h1>About Blake Picklo</h1>
    <h2>BackGround</h2>
    <p><b>I am from kearney, MO which is about an hour and a half out.
      I came to Northwest for a good and unique college experince, and so far I can not complain. 
      I came into this school with about one friend and now I have formed a fraternity full of friends.</b>
    </p>
    <h2>Current</h2>
    <p><b>As mentioned I am in Phi Sigma Kappa fratenrity, which has become a big part of my college career
      I also have gotten a job for a food vendor company called Acosta.
      And I have a job back home at the local McDonald's</b>
    </p>
    <h2>Future</h2>
    <p><b>I plan to move far away from missoyuri for more job oppurtunity in the video game design feild.
      However if this plan doesnt work out I plan to get a decent job and save up, while working on game projects on the side to increase my resume appeal
      I just want to get a job were i get to use my talents, and improve the world instead of being stuck in a cubicle all day.</b>
    </p>
    <h2>Below are all of my contact points</h2>
    <div class="container">
        <div class="col-md-4">
          <h2>linkedin</h2>
          <p><a href="https://www.linkedin.com/feed/">
            <img border="0" alt="linkedin" src="https://image.flaticon.com/icons/png/512/174/174857.png" width="100" height="100"></a></p></p>
        </div>
        <div class="col-md-4">
          <h2>gitHub</h2>
          <p><a href="https://github.com/">
            <img border="0" alt="gitHub" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" width="100" height="100"></a></p>
       </div>
        <div class="col-md-4">
          <h2>bitBucket</h2>
          <p><a href="https://bitbucket.org/">
            <img border="0" alt="bitBucket" src="https://cdn3.iconfinder.com/data/icons/inficons/512/bitbucket.png" width="100" height="100">
            </a></p>

    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

    </body>
</html>