<!-- main  -->
<div class=row>
    <div class="form-group">
      <label for="tailNumber">tailNumber</label>
      <input type="text" class="form-control" id="tailNumber" name="tailNumber" value="<%= plane.tailNumber %>">
    </div>
    <div class="form-group">
      <label for="numSeats">numSeats</label>
      <input onchange="numSeatsChange()" type="number" class="form-control" id="numSeats" name="numSeats" value="<%= plane.numSeats %>" required>
    </div>
    <div class="form-group">
      <label for="fuelCapacity">fuelCapacity</label>
      <input onchange="fuelCapacity()" type="number" class="form-control" id="numSeats" name="numSeats" value="<%= plane.numSeats %>" required>
    </div>
  </div>
</div>
<hr>
<br/>
<br/>